<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<!--this file sets up the web service and map -->
<web-app>
  <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>MasterServlet</servlet-name>
        <servlet-class>main.servlet.MasterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MasterServlet</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TicketTableServlet</servlet-name>
        <servlet-class>main.servlet.TicketTableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TicketTableServlet</servlet-name>
        <url-pattern>*.view</url-pattern>
    </servlet-mapping>

</web-app>
